.bottom-container {
    height: 50vh;
    width: 100vw;
    overflow: auto;
}

.character-list {
    padding: 2vh 4vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
    align-items: center;
    justify-items: center;
}
  
.character-list > a {
    font-weight: bold;
    font-size: 2rem;
    padding: 0em 1em;
    margin: 0;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s;
}
  
.character-list > a:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}