.form {
    display: flex;
    justify-content: center;
    position: relative;
    width: 250px;
}

.search-field {
    border: 3px solid black;
    border-radius: 5px 0 0 5px;
    border-right: none;
    height: 40px;
    font-family: 'Marvel', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    outline: none;
    padding: 5px;
    width: 100%;
  }

  .search-field:focus{
    color: black;
  }

  .btn-link {
    height: 40px;
  }

  .search-btn {
    align-items: center;
    background: black;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    float: right;
    font-size: 2vw;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
  }